/* Coolors Exported Palette - https://coolors.co/87f595-58dd6a-38c94b-23a234-0c841c */

/* CSS HEX */
--light-green: #87f595ff;
--malachite: #58dd6aff;
--lime-green: #38c94bff;
--pigment-green: #23a234ff;
--office-green: #0c841cff;
--buff: #e49f71ff;
--caramel: #c97944ff;
--alloy-orange: #c66422ff;
--rust: #ab4f12ff;
--chocolate: #73340aff;
--amaranth-pink: #ee93aeff;
--fuchsia-rose: #cb4e73ff;
--amaranth-purple: #b02e55ff;
--amaranth-purple-2: #961d42ff;
--claret: #850a2fff;
--ice-blue: #95f8f3ff;
--tiffany-blue: #5fddd7ff;
--robin-egg-blue: #37c2bbff;
--persian-green: #189d96ff;
--skobeloff: #09807aff;
--vista-blue: #a2aceeff;
--tropical-indigo: #7a88e2ff;
--savoy-blue: #5265ddff;
--violet-blue: #3044c4ff;
--international-klein-blue: #1e2f9fff;

/* CSS HSL */
--light-green: hsla(128, 85%, 75%, 1);
--malachite: hsla(128, 66%, 61%, 1);
--lime-green: hsla(128, 57%, 50%, 1);
--pigment-green: hsla(128, 64%, 39%, 1);
--office-green: hsla(128, 83%, 28%, 1);
--buff: hsla(24, 68%, 67%, 1);
--caramel: hsla(24, 55%, 53%, 1);
--alloy-orange: hsla(24, 71%, 45%, 1);
--rust: hsla(24, 81%, 37%, 1);
--chocolate: hsla(24, 84%, 25%, 1);
--amaranth-pink: hsla(342, 73%, 75%, 1);
--fuchsia-rose: hsla(342, 55%, 55%, 1);
--amaranth-purple: hsla(342, 59%, 44%, 1);
--amaranth-purple-2: hsla(342, 68%, 35%, 1);
--claret: hsla(342, 86%, 28%, 1);
--ice-blue: hsla(177, 88%, 78%, 1);
--tiffany-blue: hsla(177, 65%, 62%, 1);
--robin-egg-blue: hsla(177, 56%, 49%, 1);
--persian-green: hsla(177, 73%, 35%, 1);
--skobeloff: hsla(177, 87%, 27%, 1);
--vista-blue: hsla(232, 69%, 78%, 1);
--tropical-indigo: hsla(232, 64%, 68%, 1);
--savoy-blue: hsla(232, 67%, 59%, 1);
--violet-blue: hsla(232, 61%, 48%, 1);
--international-klein-blue: hsla(232, 68%, 37%, 1);

/* SCSS HEX */
$light-green: #87f595ff;
$malachite: #58dd6aff;
$lime-green: #38c94bff;
$pigment-green: #23a234ff;
$office-green: #0c841cff;
$buff: #e49f71ff;
$caramel: #c97944ff;
$alloy-orange: #c66422ff;
$rust: #ab4f12ff;
$chocolate: #73340aff;
$amaranth-pink: #ee93aeff;
$fuchsia-rose: #cb4e73ff;
$amaranth-purple: #b02e55ff;
$amaranth-purple-2: #961d42ff;
$claret: #850a2fff;
$ice-blue: #95f8f3ff;
$tiffany-blue: #5fddd7ff;
$robin-egg-blue: #37c2bbff;
$persian-green: #189d96ff;
$skobeloff: #09807aff;
$vista-blue: #a2aceeff;
$tropical-indigo: #7a88e2ff;
$savoy-blue: #5265ddff;
$violet-blue: #3044c4ff;
$international-klein-blue: #1e2f9fff;

/* SCSS HSL */
$light-green: hsla(128, 85%, 75%, 1);
$malachite: hsla(128, 66%, 61%, 1);
$lime-green: hsla(128, 57%, 50%, 1);
$pigment-green: hsla(128, 64%, 39%, 1);
$office-green: hsla(128, 83%, 28%, 1);
$buff: hsla(24, 68%, 67%, 1);
$caramel: hsla(24, 55%, 53%, 1);
$alloy-orange: hsla(24, 71%, 45%, 1);
$rust: hsla(24, 81%, 37%, 1);
$chocolate: hsla(24, 84%, 25%, 1);
$amaranth-pink: hsla(342, 73%, 75%, 1);
$fuchsia-rose: hsla(342, 55%, 55%, 1);
$amaranth-purple: hsla(342, 59%, 44%, 1);
$amaranth-purple-2: hsla(342, 68%, 35%, 1);
$claret: hsla(342, 86%, 28%, 1);
$ice-blue: hsla(177, 88%, 78%, 1);
$tiffany-blue: hsla(177, 65%, 62%, 1);
$robin-egg-blue: hsla(177, 56%, 49%, 1);
$persian-green: hsla(177, 73%, 35%, 1);
$skobeloff: hsla(177, 87%, 27%, 1);
$vista-blue: hsla(232, 69%, 78%, 1);
$tropical-indigo: hsla(232, 64%, 68%, 1);
$savoy-blue: hsla(232, 67%, 59%, 1);
$violet-blue: hsla(232, 61%, 48%, 1);
$international-klein-blue: hsla(232, 68%, 37%, 1);

/* SCSS RGB */
$light-green: rgba(135, 245, 149, 1);
$malachite: rgba(88, 221, 106, 1);
$lime-green: rgba(56, 201, 75, 1);
$pigment-green: rgba(35, 162, 52, 1);
$office-green: rgba(12, 132, 28, 1);
$buff: rgba(228, 159, 113, 1);
$caramel: rgba(201, 121, 68, 1);
$alloy-orange: rgba(198, 100, 34, 1);
$rust: rgba(171, 79, 18, 1);
$chocolate: rgba(115, 52, 10, 1);
$amaranth-pink: rgba(238, 147, 174, 1);
$fuchsia-rose: rgba(203, 78, 115, 1);
$amaranth-purple: rgba(176, 46, 85, 1);
$amaranth-purple-2: rgba(150, 29, 66, 1);
$claret: rgba(133, 10, 47, 1);
$ice-blue: rgba(149, 248, 243, 1);
$tiffany-blue: rgba(95, 221, 215, 1);
$robin-egg-blue: rgba(55, 194, 187, 1);
$persian-green: rgba(24, 157, 150, 1);
$skobeloff: rgba(9, 128, 122, 1);
$vista-blue: rgba(162, 172, 238, 1);
$tropical-indigo: rgba(122, 136, 226, 1);
$savoy-blue: rgba(82, 101, 221, 1);
$violet-blue: rgba(48, 68, 196, 1);
$international-klein-blue: rgba(30, 47, 159, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #87f595ff, #58dd6aff, #38c94bff, #23a234ff, #0c841cff);
$gradient-right: linear-gradient(90deg, #87f595ff, #58dd6aff, #38c94bff, #23a234ff, #0c841cff);
$gradient-bottom: linear-gradient(180deg, #87f595ff, #58dd6aff, #38c94bff, #23a234ff, #0c841cff);
$gradient-left: linear-gradient(270deg, #87f595ff, #58dd6aff, #38c94bff, #23a234ff, #0c841cff);
$gradient-top-right: linear-gradient(45deg, #87f595ff, #58dd6aff, #38c94bff, #23a234ff, #0c841cff);
$gradient-bottom-right: linear-gradient(135deg, #87f595ff, #58dd6aff, #38c94bff, #23a234ff, #0c841cff);
$gradient-top-left: linear-gradient(225deg, #87f595ff, #58dd6aff, #38c94bff, #23a234ff, #0c841cff);
$gradient-bottom-left: linear-gradient(315deg, #87f595ff, #58dd6aff, #38c94bff, #23a234ff, #0c841cff);
$gradient-radial: radial-gradient(#87f595ff, #58dd6aff, #38c94bff, #23a234ff, #0c841cff);
$gradient-top: linear-gradient(0deg, #e49f71ff, #c97944ff, #c66422ff, #ab4f12ff, #73340aff);
$gradient-right: linear-gradient(90deg, #e49f71ff, #c97944ff, #c66422ff, #ab4f12ff, #73340aff);
$gradient-bottom: linear-gradient(180deg, #e49f71ff, #c97944ff, #c66422ff, #ab4f12ff, #73340aff);
$gradient-left: linear-gradient(270deg, #e49f71ff, #c97944ff, #c66422ff, #ab4f12ff, #73340aff);
$gradient-top-right: linear-gradient(45deg, #e49f71ff, #c97944ff, #c66422ff, #ab4f12ff, #73340aff);
$gradient-bottom-right: linear-gradient(135deg, #e49f71ff, #c97944ff, #c66422ff, #ab4f12ff, #73340aff);
$gradient-top-left: linear-gradient(225deg, #e49f71ff, #c97944ff, #c66422ff, #ab4f12ff, #73340aff);
$gradient-bottom-left: linear-gradient(315deg, #e49f71ff, #c97944ff, #c66422ff, #ab4f12ff, #73340aff);
$gradient-radial: radial-gradient(#e49f71ff, #c97944ff, #c66422ff, #ab4f12ff, #73340aff);
$gradient-top: linear-gradient(0deg, #ee93aeff, #cb4e73ff, #b02e55ff, #961d42ff, #850a2fff);
$gradient-right: linear-gradient(90deg, #ee93aeff, #cb4e73ff, #b02e55ff, #961d42ff, #850a2fff);
$gradient-bottom: linear-gradient(180deg, #ee93aeff, #cb4e73ff, #b02e55ff, #961d42ff, #850a2fff);
$gradient-left: linear-gradient(270deg, #ee93aeff, #cb4e73ff, #b02e55ff, #961d42ff, #850a2fff);
$gradient-top-right: linear-gradient(45deg, #ee93aeff, #cb4e73ff, #b02e55ff, #961d42ff, #850a2fff);
$gradient-bottom-right: linear-gradient(135deg, #ee93aeff, #cb4e73ff, #b02e55ff, #961d42ff, #850a2fff);
$gradient-top-left: linear-gradient(225deg, #ee93aeff, #cb4e73ff, #b02e55ff, #961d42ff, #850a2fff);
$gradient-bottom-left: linear-gradient(315deg, #ee93aeff, #cb4e73ff, #b02e55ff, #961d42ff, #850a2fff);
$gradient-radial: radial-gradient(#ee93aeff, #cb4e73ff, #b02e55ff, #961d42ff, #850a2fff);
$gradient-top: linear-gradient(0deg, #95f8f3ff, #5fddd7ff, #37c2bbff, #189d96ff, #09807aff);
$gradient-right: linear-gradient(90deg, #95f8f3ff, #5fddd7ff, #37c2bbff, #189d96ff, #09807aff);
$gradient-bottom: linear-gradient(180deg, #95f8f3ff, #5fddd7ff, #37c2bbff, #189d96ff, #09807aff);
$gradient-left: linear-gradient(270deg, #95f8f3ff, #5fddd7ff, #37c2bbff, #189d96ff, #09807aff);
$gradient-top-right: linear-gradient(45deg, #95f8f3ff, #5fddd7ff, #37c2bbff, #189d96ff, #09807aff);
$gradient-bottom-right: linear-gradient(135deg, #95f8f3ff, #5fddd7ff, #37c2bbff, #189d96ff, #09807aff);
$gradient-top-left: linear-gradient(225deg, #95f8f3ff, #5fddd7ff, #37c2bbff, #189d96ff, #09807aff);
$gradient-bottom-left: linear-gradient(315deg, #95f8f3ff, #5fddd7ff, #37c2bbff, #189d96ff, #09807aff);
$gradient-radial: radial-gradient(#95f8f3ff, #5fddd7ff, #37c2bbff, #189d96ff, #09807aff);
$gradient-top: linear-gradient(0deg, #a2aceeff, #7a88e2ff, #5265ddff, #3044c4ff, #1e2f9fff);
$gradient-right: linear-gradient(90deg, #a2aceeff, #7a88e2ff, #5265ddff, #3044c4ff, #1e2f9fff);
$gradient-bottom: linear-gradient(180deg, #a2aceeff, #7a88e2ff, #5265ddff, #3044c4ff, #1e2f9fff);
$gradient-left: linear-gradient(270deg, #a2aceeff, #7a88e2ff, #5265ddff, #3044c4ff, #1e2f9fff);
$gradient-top-right: linear-gradient(45deg, #a2aceeff, #7a88e2ff, #5265ddff, #3044c4ff, #1e2f9fff);
$gradient-bottom-right: linear-gradient(135deg, #a2aceeff, #7a88e2ff, #5265ddff, #3044c4ff, #1e2f9fff);
$gradient-top-left: linear-gradient(225deg, #a2aceeff, #7a88e2ff, #5265ddff, #3044c4ff, #1e2f9fff);
$gradient-bottom-left: linear-gradient(315deg, #a2aceeff, #7a88e2ff, #5265ddff, #3044c4ff, #1e2f9fff);
$gradient-radial: radial-gradient(#a2aceeff, #7a88e2ff, #5265ddff, #3044c4ff, #1e2f9fff);